.form-container {
  margin: 0px auto;
  width: 100%;
  max-width: 448px;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  padding: 48px;
}

.form-container h3{
  margin-bottom: 2rem;
}

form button{
  width: 100%;
  min-height: 44px;
  margin-top: 10px;
}

form p {
  display: flex;
  flex-direction: column;
}

form p input,
select {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  margin-top: 5px;
}

#time-freq-container{
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

#time-freq-container p{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}

#time-freq-container p .time-value{
  width: 60px;
  margin-top: 0;
}

/* -------------------------------- */

.big-container{
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.table-container{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

/* -------------------------------- */

.support-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.predefined-rooms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.room-name-predefined {
  margin: 0.5rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: blue;
  cursor: pointer;
}

.custom-room {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
}

.custom-room label {
  margin-bottom: 0.5rem;
}

.custom-room input[type="text"] {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 0.25rem;
  font-size: 1rem;
  width: 100%;
}

.custom-room small {
  font-size: 0.8rem;
  color: gray;
}

.custom-room button {
  margin-bottom: 1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: blue;
  cursor: pointer;
}

#roomSelect {
  width: 100%;
  height: 8rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 0.25rem;
  font-size: 1rem;
  height: 300px;
  min-width: 250px;
}

.custom-room-input-container {
  display: flex;
  flex-direction: column;
}

/* -------------------------------- */

#chat-box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 3rem;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
#topic-header {
  margin: 0;
  font-weight: bold;
}
#room {
  color: #337ab7;
}
#instruction-header {
  margin: 0;
  color: #666;
  font-size: 14px;
}
.chat-section {
  display: flex;
  flex-direction: column;
  width: 75%;
}
#chatLog {
  flex: 1;
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fafafa;
}
.chat-input {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 10px;
  column-gap: 1rem;
}
#chatMessageInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
#chatMessageSend {
  padding: 10px 20px;
  border: 1px solid #337ab7;
  border-radius: 5px;
  color: #fff;
  background-color: #337ab7;
  font-size: 14px;
  cursor: pointer;
}
#online-users-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: 20px;
}
#onlineUsersSelector {
  flex: 1;
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fafafa;
}
