{% extends "base.html" %}
{% block content %}

{% load static %}
<div class="support-container">
    <h3>Support</h3>
    <br><br>

    <h4>Choose one of the topics or create a new one</h4>
    <br>
    <div class="predefined-rooms">
        <input class="room-name-predefined" type="button" value="Transfers">
        <input class="room-name-predefined" type="button" value="Money requests">
        <input class="room-name-predefined" type="button" value="Fraud">
        <input class="room-name-predefined" type="button" value="Loans">
    </div>

    <div class="custom-room">
        <div>
            <label for="roomSelect">Active topics</label>
            <select multiple id="roomSelect">
                {% for room in rooms %}
                <option>{{ room }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="custom-room-input-container">
            <label for="roomInput">Create a new topic:</label>
            <input type="text" id="roomInput" placeholder="Topic name">
            <small id="roomInputHelp">If the topic doesn't exist yet, it will be created for you.</small>
            <button type="button" id="roomConnect">Create</button>
        </div>
    </div>
</div>
<script src="{% static 'chat.js' %}"></script>
{% endblock content %}