{% extends "base.html" %}
{% block content %}
{% load static %}

<div id="chat-box-container">
    <div>
        <h5 id="topic-header">Topic: <span id="room"></span></h5>
        <h6 id="instruction-header">Please describe your issue and one of our support agents will help you
        </h6>
    </div>
    <div class="chat-section">
        <textarea id="chatLog" class="chat-log"></textarea>
        <div class="chat-input">
            <input type="text" id="chatMessageInput" class="chat-message-input" placeholder="Enter your chat message">
            <div class="input-group-append">
                <button id="chatMessageSend" class="chat-message-send" type="button">Send</button>
            </div>
        </div>
    </div>
    <div id="online-users-container">
        <label for="online-users">Online users</label>
        <select multiple id="onlineUsersSelector" class="online-users-selector"></select>
    </div>
    {{ room.name|json_script:"roomName" }}
</div>
<script src="{% static 'chat_room.js' %}"></script>
{% endblock content %}