<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">BANK</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if user.is_staff %}
                        <li class="nav-item"><a href="{% url 'users' %}" class="nav-link">Dashboard</a></li>
                        <li class="nav-item"><a href="{% url 'create_customer' %}" class="nav-link">Add new customer</a>
                        <li class="nav-item"><a href="{% url 'chat:chat' %}" class="nav-link">Support</a>
                        </li>
                        {% else %}
                        <li class="nav-item"><a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a></li>
                        <li class="nav-item"><a href="{% url 'make_transfer' %}" class="nav-link">Make Transfer</a></li>
                        <li class="nav-item"><a href="{% url 'make_loan' %}" class="nav-link">Make Loan</a></li>
                        <li class="nav-item"><a href="{% url 'money_request' %}" class="nav-link">Request money</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Recurrent payments
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'customer_recurrent_payments' %}">Your recurrent payments</a>
                                <a class="dropdown-item" href="{% url 'make_recurrent_payment' %}">Setup Recurrent
                                    Payment</a>
                            </div>
                        </li>
                        <li class="nav-item"><a href="{% url 'search_stocks' %}" class="nav-link">Stock prices</a></li>
                        <li class="nav-item"><a href="{% url 'chat:chat' %}" class="nav-link">Support</a>
                            {% endif %}
                    </ul>
                    <a class="btn btn-danger" style="position:absolute; right:50px;"
                        href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container py-5">
            {% block content %}
            {% endblock content %}
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.1.0"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>
</body>

</html>