<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
{% extends "base.html" %}

{% block content %}

<div class="big-container">
    <div class="table-container">
        <h3>Account Details</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Account Number</th>
                    <th scope="col">Account Name</th>
                    <th scope="col">Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{ account.pk }}</th>
                    <td>{{ account.account_type }}</td>
                    <td>{{ account.balance|floatformat:"2" }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table-container">
        <h3>Account Transactions</h3>

        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>Transaction UID</th>
                    <th>Counterparty</th>
                    <th>Amount</th>
                    <th>Date and Time</th>
                    <th>Text</th>
                </tr>
                {% for movement in account.movements %}
                <tr style="transform: rotate(0);">
                    <th scope="row"><a href="{% url 'transaction_details' movement.transaction %}"
                            class="stretched-link">{{movement.transaction}}</a></th>
                    <td>{{ movement.counterparty }}</td>
                    <td>{{ movement.amount|floatformat:"2" }}</td>
                    <td>{{ movement.timestamp }}</td>
                    <td>{{ movement.text }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table-container">
        <h3>Transfer requests</h3>

        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>Request ID</th>
                    <th>Amount</th>
                    <th>Date and Time</th>
                    <th>Text</th>
                    <th>Account to send to</th>
                    <th></th>
                </tr>
                {% for request in account.requests %}
                <tr style="transform: rotate(0);">
                    <th scope="row">{{request.transaction}}</th>
                    <td>{{ request.amount|floatformat:"2" }}</td>
                    <td>{{ request.timestamp }}</td>
                    <td>{{ request.text }}</td>
                    <td>{{request.where_to_send}}</td>
                    <td><a href="{% url 'delete_money_request' request.id %}"
                            style="text-decoration: none;color:red;"><i class="bi bi-trash"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}