{% extends "base.html" %}

{% block content %}

<div class="form-container">
    <h3>Create new customer</h3>

    <form action="{% url 'create_customer' %}" method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ customer_form.as_p }}
        <button class="btn btn-primary">Create User</button>
    </form>
</div>

{% endblock content %}