{% extends "base.html" %}

{% block content %}

<div class="table-container">
  <h3>All customers</h3>

  <table class="table table-hover">
    <tbody>
      <tr>
        <th>Customer ID</th>
        <th>Username</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone number</th>
      </tr>
      {% for user in users %}
      <tr style="transform: rotate(0);">
        <th scope="row"><a href="{% url 'customer_details' user.pk %}" class="stretched-link">{{user.pk}}</a></th>
        <td>{{user.username}}</td>
        <td>{{user.full_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone_number}}</td>
      </tr>
      {% empty %}
      <h3>No customers has been created</h3>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}