<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="form-container">
                <h3>Customer Details</h3>

                <form action="{% url 'customer_details' customer.pk %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        {{ user_form.as_p }}
                        {{ customer_form.as_p }}
                        <button class="btn btn-primary">Update User</button>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-container">
                <h3>Create new account</h3>

                <form action="{% url 'create_account' customer.user.pk customer.pk %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        {{ account_form.as_p }}
                        <button class="btn btn-primary">Create account</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm">
            <div class="table-container">
                <h3>All accounts</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Account Number</th>
                            <th>Account Name</th>
                            <th>Account Balance</th>
                        </tr>
                    </thead>
                    <tbody id="account-list" hx-swap="outerHTML" hx-get="{% url 'list_accounts' customer.pk %}"
                        hx-trigger="load">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm">
            <div class="table-container">
                <h3>Recurrent payments</h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Payment Name</th>
                            <th>Amount</th>
                            <th>Interval</th>
                            <th>Beneficiary Bank</th>
                            <th>Beneficiary Account</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="recurrent-payments-list" hx-swap="outerHTML"
                        hx-get="{% url 'list_recurrent_payments' customer.pk %}" hx-trigger="load">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}