<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
{% extends "base.html" %}

{% block content %}


<div class="table-container">
    <h3>Your recurrent payments</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Payment Name</th>
                <th>Amount</th>
                <th>Interval</th>
                <th>Beneficiary Bank</th>
                <th>Beneficiary Account</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="recurrent-payments-list" hx-swap="outerHTML" hx-get="{% url 'list_recurrent_payments' customer.pk %}"
            hx-trigger="load">
        </tbody>
    </table>
</div>

{% endblock content %}