<tbody id="account-list">
    {% for account in accounts %}
        <tr>
            <td><a href="{% url 'account_details' account.pk account.user.pk %}">{{ account.pk }}</a></td>
            <td>{{ account.account_type }}</td>
            <td>{{ account.balance|floatformat:"2" }}</td>
        </tr>
    {% endfor %}
    </tbody>
    