{% extends "base.html" %}

{% block content %}

    <p>Hello, {{ user.customer.full_name }}.</p>

    <div class="table-container">
        <h3>My accounts:</h3>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>Account Number</th>
                    <th>Account Name</th>
                    <th>Account Balance</th>
                </tr>
                {% for account in accounts %}
                <tr style="transform: rotate(0);">
                    <th scope="row"><a href="{% url 'account_details' account.pk account.user.pk %}"
                            class="stretched-link">{{ account.pk }}</a></th>
                    <td>{{ account.account_type }}</td>
                    <td>{{account.balance|floatformat:"2"}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}