<tbody id="recurrent-payments-list">
    {% for payment in payments %}
        <tr>
            <td>{{ payment.payment.name }}</td>
            <td>{{ payment.amount|floatformat:"2" }}</td>
            <td>{{ payment.payment.interval }}</td>
            <td>{{ payment.bank }}</td>
            <td>{{ payment.credit_account }}</td>
            <td><a href="{% url 'delete_recurrent_payment' payment.payment.pk %}" style="text-decoration: none;color:red;"><i class="bi bi-trash"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>