<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />

    <style>
        .login-form-container {
            width: 300px;
            margin: auto;
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <div class="login-form-container">
        <p>{{error}}</p>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="token">One-time Password</label>
                <input type="text" name="token" id="token" class="form-control">
            </div>
            <button class="btn btn-primary">Login</button>
        </form>
        <br>
        <p>Register two factor authentication if you havent already</p>
        <a href="{% url 'register_otp' %}">Setup Two factor auth</a>
        <div class="input-group mb-3">
            <div class="auto-margin">
                {{ svg|safe }}
            </div>
            <div class="auto-margin">
                {{ context.svg|safe }}
            </div>
        </div>
    </div>
</body>

</html>