{% extends "base.html" %}

{% block content %}

<div class="form-container">
    <h3>Take a loan</h3>

    <form action="{% url 'make_loan' %}" method="post">
        {% csrf_token %}
        <p>
            <label for="amount">Amount</label>
            <input type="text" name="amount" id="amount" class="form-control">
        </p>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock content %}