{% extends "base.html" %}

{% block content %}

<div class="form-container">
    <h3>Transfer money</h3>
    <form action="{% url 'prepare_transfer' %}" method="post">
        {% csrf_token %}
        <fieldset>
            {{ form.as_p }}
            <button class="btn btn-primary">Transfer</button>
        </fieldset>
    </form>
</div>

{% endblock content %}