{% extends "base.html" %}

{% block content %}

<div class="form-container">
    <h3>Create recurrent payment</h3>
    <form action="{% url 'make_recurrent_payment' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        {% if forloop.counter == 8 %}
            <div id="time-freq-container">
        {% endif %}
        {% if forloop.counter == 8 or forloop.counter == 9 %}
            <p>{{ field.label_tag }} {{ field }}</p>
        {% endif %}
        {% if forloop.counter == 9 %}
            </div>
        {% endif %}
        {% if forloop.counter != 8 and forloop.counter != 9 %}
            <p>{{ field.label_tag }} {{ field }}</p>
        {% endif %}
    {% endfor %}
            <button class="btn btn-primary">Create</button>
    </form>
</div>

{% endblock content %}