{% extends "base.html" %}

{% block content %}

<div class="form-container">
<h3>Request money</h3>
<form action="{% url 'money_request' %}" method="post">
    {% csrf_token %}
        {{ form.as_p }}
    <button class="btn btn-primary">Request</button>
</form>
</div>

{% endblock content %}