{% extends "base.html" %}
{% block content %}

<div class="form-container">
<h3 class="mb-3">Search stock prices</h3>

<form action="{% url 'search_stocks' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary">Search</button>
</form>
</div>

{% endblock content %}