{% extends "base.html" %}
{% block content %}


<div class="container">
  <h3>{{meta.name}} {{ticker}}</h3>
  <div class="row">
    <div class="col">
      <p>Description: {{meta.description}}</p>
    </div>
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Open</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
            <th scope="col">Close</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{price.open}}</td>
            <td>{{price.high}}</td>
            <td>{{price.low}}</td>
            <td>{{price.close}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}