{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="One time password authentication" />
  <meta name="keywords" content="One time password authentication" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Two factor authentication</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
          .login-form-container {
              width: 300px;
              margin: auto;
              margin-top: 50px;
          }
      </style>
</head>

<body>
  <div class="container">

  <p>{{error}}</p>
  <div class="login-form-container">
    <h3>Enable two factor authentication </h3>
  <form action="{% url 'register_otp' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" class="form-control">
  </div>
  <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="form-control">
  </div>
    <button class="btn btn-primary">Login</button>
  </form>
  </div>
</div>
</body>

</html>