{% extends "base.html" %}

{% block content %}

<div class="table-container">
    <h3>Transaction Details</h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Account Number</th>
                <th scope="col">Transaction UID</th>
                <th scope="col">Amount</th>
                <th scope="col">Date and Time</th>
                <th scope="col">Text</th>
            </tr>
        </thead>
        <tbody>
            {% for movement in movements %}
            <tr>
                <td scope="row">{{ movement.account }}</td>
                <td>{{ movement.transaction }}</td>
                <td>{{ movement.amount|floatformat:"2" }}</td>
                <td>{{ movement.timestamp }}</td>
                <td>{{ movement.text }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}